.card{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
 button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#buttonshoverness:hover{
    background-color: black;
    color: aliceblue;
    transition: 1000ms;

}